<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
        <title>Resume Personalizer | Submitted</title>
        <script type="text/javascript">
            console.log(localStorage.getItem("profile"))
        </script>
    </head>
    <body>
        <div class="mainText">Thanks for creating / updating your profile</div>
        <div class="line"></div>
        <div class="profile"><a href="/">Generate a resume</a></div>
    </body>
</html>