<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="template.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">{{name}}</div>
        <div class="contact"> <a href="mailto:{{email}}">{{email}}</a>
            {% if website != "" %}
            | <a href="{{website}}" target="_blank" rel="noopener noreferrer">Website</a>
            {% endif %}
        </div>
        <div class="subHeading"> Education </div>
        <div class="line"></div>
        <ul>
            {%for educationItem in education %}
                <div class="mainText">{{educationItem["institutionName"]}}</div>
                <div class="subText">{{educationItem["degree"]}}</div>
                <div class="spacer"></div>
            {% endfor %}
        </ul>
        <div class="subHeading"> Experience </div>
        <div class="line"></div>
        <ul>
            {% for work in workExperience %}
            <div class="mainText">{{work["title"]}}</div>
            <div class="subText">{{work["companyName"]}}</div>
            <ul>
                {% for jobDescription in work["descriptions"] %}
                    <li>
                        <div class="textBody">{{jobDescription}}</div>
                    </li>
                {% endfor %}
                <div class="spacer"></div>
            </ul>
            {% endfor %}
        </ul>
        <div class="subHeading"> Projects </div>
        <div class="line"></div>
        <ul>
            {% for project in projects %}
                <div class="mainText"> {{project["projectName"]}}</div>
                <ul>
                    {% for description in project["projectDescriptions"] %}
                    <li>
                       <div class="textBody"> {{description}}</div>
                    </li>
                    {% endfor %}
                    <div class="spacer"></div>
                </ul>
            {% endfor %}
        </ul>
        <div class="subHeading"> Skills </div>
        <div class="line"></div>        
        <ul>
            {% for skill in skills %}
                <li>
                    <div class="textBody"> {{skill}}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="subHeading"> Accomplishments </div>
        <div class="line"></div>  
        <ul>
            {% for accomplishment in accomplishments %}
                <li>
                    <div class="textBody"> {{accomplishment}}</div>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
