@page {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

body{
    display: block;
    margin: 0%;   
}

a{
    color: black;
}

.title{
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: "Tinos", serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
}

.subHeading{
    font-family: "Tinos", serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}

.line{
    margin-top: 5px;
    width: max-content;
    height: 1px;
    background-color: black;
}

.tag{
    font-family: "Tinos", serif;
    font-weight: 300;
    font-style: normal;
    font-size: smaller;
    display: inline;
}

.dateRange{
    text-align: right;
    font-family: "Tinos", serif;
    font-weight: 350;
    font-style: italic;
    font-size: smaller;
    display: inline;
    float: right;
}

.location{
    text-align: right;
    font-family: "Tinos", serif;
    font-weight: 300;
    font-style: italic;
    font-size: smaller;
    display: inline;
    float: right;
}

.fullSpan{
    width: 100%;
}

.resumeItemList{
    margin-top: 5px;
    margin-left: 2px;
    padding-left: 10px;
}

li{
    margin-top: 4px;
    margin-bottom: 4px;
}

.textBody{
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
    width: 75%;
}

.listTextBody{
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    display: inline;
}

.boldedBody{
    font-family: "Tinos", serif;
    font-weight: 600;
    font-style: normal;
    font-size: small;
    display: inline;
}

.degree{
    font-family: "Tinos", serif;
    font-weight: 300;
    font-style: italic;
    font-size: small;
    margin-bottom: 10px;
}

.subText{
    font-family: "Tinos", serif;
    font-weight: 300;
    font-style: italic;
    font-size: small;
    display: inline;
}

.spacer{
    margin: 10px;
}

.mainText{
    font-family: "Tinos", serif;
    font-weight: 600;
    font-style: normal;
    font-size: small;
    display: inline;
}

.contact{
    margin: auto;
    text-align: center;
    font-family: "Tinos", serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    margin-bottom: 10px;
}