body{
    background-color: #d9d9d9;
}

html{
    font-size: 16px;
}

.profileDropdown{
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    width: 100%;
    max-height: 110px;
    flex-direction: column;
    gap: 0.5em;
}

.listContainer{
    width: 80%;
    max-width: 800px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    padding: 3em;
    border-radius: 0.3em;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    width: 90%;
}

.educationGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2em;
}

.doubleWide{
    grid-row: span 3;
    grid-column: span 2;
}

.websiteGridField{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.profileFieldGroup{
    grid-column: span 2;
    width: 100%;
    display: block;
}

.tripleWide{
    grid-column: span 5;
    grid-row: span 2;
}

.positionUnder{
    grid-row-start: 3;
}

.spanHalf{
    grid-column: span 1;
}

@media (max-width: 900px) {
    html{
        font-size: 13px;
    }

    .medMaxWidth{
        max-width: 300px;
    }   

    .listContainer{
        min-height: 0px;
    }

    .profileRow{
        justify-content: center;
        padding-left: 0em;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        row-gap: 1em;
        column-gap: 1em;
    }
    .educationGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
        justify-items: center;
    }
    .tripleWide{
        grid-column: span 4;
        grid-row: span 2;
    }
    .positionUnder{
        grid-row-start: auto;
    }
    .doubleWide{
        grid-column: span 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .profileFieldLabel{
        text-align: center;
    }
}

.mainText{
    padding-top: 1em;
    font-size: 7rem;
    text-align: center;
    font-weight: 350;
    font-family: "Josefin Sans", sans-serif;
}

.profileListText{
    font-size: 1.75rem;
    text-align: center;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    width: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profileListDate{
    font-size: 0.9rem;
    font-weight: 320;
    font-family: "Josefin Sans", sans-serif;
    width: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sectionHeader{
    font-size: 5rem;
    text-align: center;
    font-weight: 350;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 1em;
}

.subTitle{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1em;
    font-family: "Josefin Sans", sans-serif;
}

.centerOnScreen{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
}

.profilesListEntryBG{
    width: 100%;
    height: 3em;
    background-color: #d9d9d9;
    border-radius: 1em;
}

.majorText{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 350;
}

.holder{
    height: fit-content;
    width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    box-sizing: border-box;
}

.buttonHolder{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.buttonHolderTopSpacing{
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
}

.smallButtonHolder{
    margin-top: 1em;
    margin-left: auto;
    width: fit-content;
    display: flex;
}

@keyframes overlayFade {
    from {background-color: rgba(0, 0, 0, 0.0);}
    to {background-color: rgba(0, 0, 0, 0.5);}
}

@keyframes profileSelectionFade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes blurOverlayFade{
    from {backdrop-filter: blur(0px);}
    to {backdrop-filter: blur(5px);}
}

.fadeBlurIn{
    animation-name: blurOverlayFade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.fadeBlurOut{
    animation-name: blurOverlayFade;
    animation-duration: 0.3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.fadeOpacityIn{
    animation-name: profileSelectionFade;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.fadeOpacityOut{
    animation-name: profileSelectionFade;
    animation-duration: 0.4s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.fadeBackgroundIn{
    animation-name: overlayFade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.fadeBackgroundOut{
    animation-name: overlayFade;
    animation-duration: 0.3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.hiddenOverlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 118vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.blurOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px)
}

.majorHeading{
    font-size: 3rem;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

.profileSelection{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    min-height: 300px;
    width: 30vw;
    border-radius: 10px;
    background-color: #cbcbcb;
    opacity: 100%
}

.jobDescSelection{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    width: 30vw;
    border-radius: 10px;
    background-color: #cbcbcb;
    opacity: 100%
}

.buttonImage{
    width: 2.5em;
}

.smallButtonImage{
    width: 2em;
    margin-bottom: 0.2em;
}

.centeredButtonImage{
    width: 2em;
}

.button{
    background-color: rgba(217, 217, 217, 0.5);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    justify-content: center;

    margin-left: 15px;
    margin-right: 15px;
    
    transition: 0.15s;
    width: 190px;
    height: 80px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10px;
    padding-right: 10px;
}

.largeFont{
    font-size: 20px;
}

.medFont{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
}

.XXLFont{
    font-size: 50px;
    height: 120px;
    width: 250px;
}

.extraLargeFont{
    font-size: 35px;
    min-width: 45px;
}

.smallButton{
    font-family: "Josefin Sans", sans-serif;
    background-color: #d9d9d9;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    justify-content: center;

    padding: 0.5em 0.5em;

    transition: 0.15s;
}

.centeredText{
    margin-top: 10px;
    align-items: center;
}

.largeImage{
    width: 45px;
    height: 45px;
}

.small{
    width: 40px;
    height: 40px;
}

.rightAlign{
    align-content: end;
    align-items: end;
    justify-content: end;
}

.medMarginHoriz{
    margin-right: 80px;
}

.greyBackground{
    background-color: #d9d9d9;
}

.smallerButton{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    justify-content: center;
    
    transition: 0.15s;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.smallWidth{
    width: 245px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.stickyElement{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

.listDropdown{
    background-color: rgb(217, 217, 217);
    width: 50%;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    border: none;
    text-align: center;
    font-weight: 500;
    border-top-right-radius: 0.1em;
    border-top-left-radius: 0.1em;
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9rem;
}

.navbarPanel{
    gap: 0.5em;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: rgba(190, 190, 190, 0.95)
}

.medButton{
    background-color: rgba(203, 203, 203, 0.0);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    justify-content: center;

    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 1.5em;

    transition: 0.15s;
}

.medButton:hover{
    background-color: #EAE7E7;
}

.medButton:active{
    background-color: white;
    scale: 1.1;
}

.listButton{
    background-color: #cbcbcb;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    justify-content: center;

    margin-left: 15px;
    margin-right: 15px;
    
    transition: 0.15s;
    width: 150px;
    height: 80px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10px;
    padding-right: 10px;
}

.listButton:hover{
    background-color: #EAE7E7;
    padding-bottom: 6px;
}

.listButton:active{
    background-color: white;
    padding-bottom: 8px;
    scale: 1.1;
}

.navbarActive{
    background-color: #EAE7E7;
    padding-bottom: 6px;
}

.smallButton:hover{
    background-color: #EAE7E7;
}

.smallButton:active{
    background-color: white;
    scale: 1.1;
}

.smallerButton:hover{
    background-color: #EAE7E7;
}

.smallerButton:active{
    background-color: white;
    scale: 1.1;
}

.button:hover{
    background-color: #EAE7E7;
    padding-bottom: 6px;
}

.button:active{
    background-color: white;
    padding-bottom: 8px;
    scale: 1.1;
}

.subHeading{
    font-size: large;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}

.profileSubHeading{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
}

.hidden{
    display: none;
}

.visibleFlex{
    display: flex;
}

.visible{
    display: block;
}

.profileRow{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    background-color: #cbcbcb;
    box-sizing: border-box;
    align-items: center;
    gap: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
}

.centerAlignedRow{
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 300px;
}

.rightAlignBlock{
    margin-left: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.medMarginBottom{
    margin-bottom: 10px;
}

.profileFieldLabel{
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    display: block;
    width: 100%;
}

.largerProfileFieldGroup{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    width: 110%;
    height: fit-content;
}

.rowAlign{
    display: flex;
    flex-direction: row;
    height: 25px;
}

.rowAlignCentered{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.profileRemoveField{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.profileTextField{
    font-family: "Josefin Sans", sans-serif;
    padding: 0.6em;
    font-size: 0.9rem;
    font-weight: 400;
    border: none;
    box-sizing: border-box;
    border-radius: 0.1em;
    width: 100%;
}

.profileDateField{
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    padding: 0.45em;
    font-size: 0.9rem;
    font-weight: 400;
    border: none;
    border-radius: 0.1em;
    width: 100%;
    min-width: 0;
}

.profileCheckboxField{
    font-family: "Josefin Sans", sans-serif;
    justify-items: start;
    width: 2em;
    height: 100%;
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.remButtonRow{
    width: 10%;
    justify-self: end;
}

.centered{
    justify-content: center;
}

.fullWidth{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profileListButtonsHolder{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 25%;
    padding-right: 20px;
}

.smGap{
    gap: 0.1em
}

.medGap{
    gap: 2em;
}

.lgGap{
    gap: 80px;
}

.flexVertical{
    display: flex;
    flex-direction: column;
}

.textCenter{
    display: flex;
    align-items: center;
}

.jobDesc{
    resize: none;
    border: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1em;
    font-size: 0.8rem;
    font-family: "Josefin Sans", sans-serif;
    width: 70%;
    max-width: 300px;
}

.medTopSpacing{
    margin-top: 4em;
}

.topSpacing{
    margin-top: 1em;
}
.bottomSpacing{
    margin-bottom: 2em;
}

.smTopSpacing{
    margin-top: 0.3em;
}

.lgTopSpacing{
    margin-top: 150px;
}

.alignItemsEnd{
    align-items: end;
}

.centerItems{
    align-items: center;
    justify-content: center;
    display: flex;
}

.medBottomSpacing{
    margin-bottom: 4em;
}

.lgBottomMargin{
    margin-bottom: 1em;
}

.lgBottomSpacing{
    margin-bottom: 20px;
}

.largeLeftPadding{
    padding-left: 60px;
}

.largeRightPadding{
    padding-right: 60px;
}

.XLLeftPadding{
    padding-left: auto
}

.XLRightPadding{
    padding-right: auto
}

.medRightPadding{
    padding-right: 2em;
}

.profilePanel{
    box-sizing: border-box;
    width: 95%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}

.smallLeftSpacing{
    margin-left: 20px;
}

.medLeftSpacing{
    margin-left: 160px;
}

.smallRightSpacing{
    margin-right: 20px;
}

.tinyRightSpacing{
    margin-right: 1em;
}

.medRightSpacing{
    margin-right: 160px;
}

.offWhiteBackground{
    display: flex;
    background-color: #e0e0e0;
    height: fit-content;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.maxWidth{
    width: 100%;
}

.centeredWidth{
    width: 95%;
}

.removeButton{
    flex: 1;
    background-color: white;
    border-top: black;
    border-right: none;
    border-bottom: none;
    border-radius: 0.1em;
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 1%;
}

.removeButton:hover{
    background-color: #EAE7E7;
}

.removeButton:active{
    background-color: white;
    scale: 1.05;
}

.subHeadingLight{
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3em;
}

.profile{
    text-align: center;
    padding-top: 1%;
    font-size: small;
}

.formContainer{
    text-align: center;
    align-items: center;
    padding-top: 3%;
}

.submitButton{
    padding-top: 2%;
}