body{
    background-color: whitesmoke;
}

.mainText{
    font-size: 40px;
    text-align: center;
    font-weight: 350;
}

.subTitle{
    font-size: medium;
    font-weight: 300;
    text-align: center;
    margin-top: 3vh;
}

.centerOnScreen{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
}

.holder{
    height: fit-content;
    width: fit-content;
    background-color: #d9d9d9;
    padding: 60px;
    margin-top: 50px;
    border-radius: 10px;
}

.buttonHolder{
    margin-top: 20vh;
    display: flex;
}

.button{
    background-color: #c4c4c4;
    font-weight: 700;
    display: flex;
    font-size: medium;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;

    margin-left: 15px;
    margin-right: 15px;
    
    transition: background-color 0.3s;
    max-width: 100px;   
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover{
    background-color: #EAE7E7;
}

.button:active{
    background-color: white;
}

.line{
    height: 1px;
    background-color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.subHeading{
    font-size: large;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}

.profile{
    text-align: center;
    padding-top: 1%;
    font-size: small;
}

.formContainer{
    text-align: center;
    align-items: center;
    padding-top: 3%;
}

.submitButton{
    padding-top: 2%;
}