<!DOCTYPE html>
<html>
    <head>
        <title>Resume Personalizer</title>
        <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="centerOnScreen">
            <div class="holder">
                <div class="mainText">Resume Personalizer</div>
                <div class="subTitle">Generate a personalized resume</div>
                <div class="buttonHolder">
                    <button class="button">Browse Resumes</button>
                    <button class="button">Create Resume</button>
                    <button class="button">Browse Profiles</button>
                </div>
            </div>
        </div>
            <!-- <div class="line"\>
            <div class="profile">
                <a href="/profile">Create/Update Profile</a> -->
            <!-- </div>
            <div class="formContainer">
                <form id="form">
                    <p><label for="jobDesc">Job Description</label></p>
                    <textarea name="jobDesc", id="jobDesc" cols="50", rows="10">Paste Job Description & Requirements here</textarea>
                    <br>
                    <div class="submitButton">
                        <input type="submit", value="Submit">
                    <div\>
                </form>
            </div> -->
    </body>
    <script text="text/javascript">
        document.getElementById("form").addEventListener("submit", (e)=>{
            e.preventDefault()
            const formData = new FormData(document.getElementById("form"))
            formData.append("profile", localStorage.getItem("profile"))

            fetch("/submit", {
                method: "POST",
                body: formData
            }).then((res) => {
                res.blob().then((blob) => {
                    const url = window.URL.createObjectURL(blob)
                    const temp = document.createElement("a")
                    temp.href = url
                    temp.download = "Resume"
                    document.body.appendChild(temp)
                    temp.click()
                    temp.remove()
                    URL.revokeObjectURL(url)
                    //Do other stuff here probably
                })
            })
        })
    </script>
</html>