<!DOCTYPE html>
<html>
    <head>
        <title>Resume Personalizer | Profile</title>
        <script text="text/javascript">
            function LoadStoredProfileData(){
                profileJson = localStorage.getItem("profile")
                if(profileJson == "" || profileJson == null)
                    return

                const obj = JSON.parse(profileJson)
                document.getElementById("name").value = obj.name
                document.getElementById("email").value = obj.email
                document.getElementById("website").value = obj.website

                const education = obj.education
                for(i = 0; i < education.length; i++){
                    document.getElementById("AddEducation").click()
                    const allInstitutions = document.getElementsByName("institutionName")
                    const allDegrees = document.getElementsByName("degree")
                    allInstitutions[allInstitutions.length - 1].value = education[i].institutionName
                    allDegrees[allDegrees.length - 1].value = education[i].degree
                }

                const experience = obj.workExperience
                for(i = 0; i < experience.length; i++){
                    document.getElementById("AddExperience").click()

                    const allCompanyNames = document.getElementsByName("companyName")
                    const allTitles = document.getElementsByName("title")
                    allCompanyNames[allCompanyNames.length - 1].value = experience[i].companyName
                    allTitles[allTitles.length - 1].value = experience[i].title

                    const descriptions = experience[i].descriptions
                    for(v = 0; v < descriptions.length; v++){
                        document.getElementById("AddDescription" + (i + 1)).click()
                        const allDescriptions = document.getElementsByName("responsibility" + (i + 1))
                        allDescriptions[allDescriptions.length - 1].value = descriptions[v]
                    }
                }

                const projects = obj.projects
                for(i = 0; i < projects.length; i++){
                    document.getElementById("AddProject").click()
                    const allProjectNames = document.getElementsByName("projectName")
                    allProjectNames[allProjectNames.length - 1].value = projects[i].projectName

                    const descriptions = projects[i].projectDescriptions
                    for(v = 0; v < descriptions.length; v++){
                        document.getElementById("AddProjectDescription" + (i + 1)).click()
                        const allDescriptions = document.getElementsByName("projectDescription" + (i + 1))
                        allDescriptions[allDescriptions.length - 1].value = descriptions[v]
                    }
                }

                const skills = obj.skills
                for(i = 0; i < skills.length; i++){
                    document.getElementById("AddSkill").click()
                    const allSkills = document.getElementsByName("skill")
                    allSkills[allSkills.length - 1].value = skills[i]
                }

                const accomplishments = obj.accomplishments
                for(i = 0; i < accomplishments.length; i++){
                    document.getElementById("AddAccomplishment").click()
                    const allAccomplishments = document.getElementsByName("accomplishment")
                    allAccomplishments[allAccomplishments.length - 1].value = accomplishments[i]
                }
            }
        </script>
    </head>
    <body>
        <form id="profileForm">
            <p><label>Contact</label></p>
            <ul>
                <li><input type="text" name="name" id="name" size="50" required placeholder="Full Name"></input></li>
                <li><input type="text" name="email" id="email" size="50" rows="1" required  placeholder="Email"></input></li>
                <li><input type="text" name="website" id="website" size="50" rows="1" placeholder="Website"></input></li>
            </ul>
            <p><label>Job Titles</label></p>
            <button type="button" id="AddPersonalTitle">+</button>
            <button type="button" id="RemovePersonalTitle">-</button>
            <ul>
                <div id="titlesDropdown"\>
            </ul>
            <p><label>Summary</label></p>
            <input type="text" name="summaryAlias" id="summaryAlias" size="15" placeholder="Alias"></input>
            <ul>
                <li>
                    <textarea name="summary" id="summart" placeholder="Summary" spellcheck="true"></textarea>
                </li>
            </ul>
            <p><label>Education</label></p>
            <input type="text" name="educationAlias" id="educationAlias" size="15" placeholder="Alias"></input> <br>
            <button type="button" id="AddEducation">+</button>
            <button type="button" id="RemoveEducation">-</button>
            <ul>
                <div id = "educationDropdown"\>
            </ul>

            <p><label>Experience</label></p>
            <input type="text" name="experienceAlias" id="experienceAlias" size="15" placeholder="Alias"></input> <br>
            <button type="button" id="AddExperience">+</button>
            <button type="button" id="RemoveExperience">-</button>
            <ul>
                <div id = "experienceDropdown"\>
            </ul>

            <p><label>Projects</label></p>
            <input type="text" name="projectsAlias" id="projectsAlias" size="15" placeholder="Alias"></input> <br>
            <button type="button" id="AddProject">+</button>
            <button type="button" id="RemoveProject">-</button>
            <ul>
                <div id = "projectsDropdown"\>
            </ul>

            <p><label>Skills</label></p>
            <input type="text" name="skillsAlias" id="skillsAlias" size="15" placeholder="Alias"></input> <br>
            <button type="button" id="AddSkill">+</button>
            <button type="button" id="RemoveSkill">-</button>
            <button type="button" id="AddCategory">++</button>
            <button type="button" id="RemoveCategory">--</button>
            <ul>
                <div id = "categorizedSkillsDropdown"\>
                <div id = "skillsDropdown"\>
            </ul>

            <p><label>Accomplishments</label></p>
            <input type="text" name="accomplishmentsAlias" id="accomplishmentsAlias" size="15" placeholder="Alias"></input> <br>
            <button type="button" id="AddAccomplishment">+</button>
            <button type="button" id="RemoveAccomplishment">-</button>
            <ul>
                <div id = "accomplishmentsDropdown"\>
            </ul>
            <br>

            <input type="submit" value="Submit" id="Submit">
        </form>
        <script>
            function AddHTMLToDOM(html, parentName){
                const template = document.createElement("template")
                const parent = document.getElementById(parentName)
                if(parent === null)
                    return

                template.innerHTML = html.trim();

                parent.appendChild(template.content.firstElementChild)
            }

            function RemoveLastChildInDOM(parentName){
                const parent = document.getElementById(parentName)
                if(parent.lastChild === null)
                    return

                parent.removeChild(parent.lastChild)
            }
            
            educationIndex = 0
            document.getElementById("AddEducation").addEventListener("click", ()=>{
                educationIndex++
                const educationCpy = educationIndex
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="institutionName", id="institutionName" size="30" required placeholder="Institution name"></input></li>
                        <li><input type="text" name="degree", id="degree" size="50" required placeholder="Degree"></input></li>
                        <li><input type="text" name="institutionLocation", id="institutionLocation" size="50" required placeholder="Location"></input></li>
                        <li><input type="date" name="graduationDate", id="graduationDate" size="50" required></input></li>

                        <button type="button" id="AddEducationDescription${educationCpy}">+</button>
                        <button type="button" id="RemoveEducationDescription${educationCpy}">-</button>
                        <ul>
                            <div id="educationDescriptionDropdown${educationCpy}"\>
                        </ul>
                    </ul>
                </li>`, 
                "educationDropdown")

                document.getElementById("AddEducationDescription" + educationCpy).addEventListener("click", ()=>{
                    AddHTMLToDOM(`
                        <li>
                            <input type="text" name="educationDescription${educationCpy}", id="educationDescription${educationCpy}" size="50" required placeholder="Description"></input>
                        </li> 
                        `,"educationDescriptionDropdown" + educationCpy)
                })
                document.getElementById("RemoveEducationDescription" + educationCpy).addEventListener("click", ()=>{
                    RemoveLastChildInDOM("educationDescriptionDropdown" + educationCpy)
                })
            })
            document.getElementById("RemoveEducation").addEventListener("click", ()=> {
                educationIndex--
                RemoveLastChildInDOM("educationDropdown")
            })

            document.getElementById("AddPersonalTitle").addEventListener("click", ()=>{
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="personalTitle", id="personalTitle" size="80" required placeholder="Title"></input></li>
                    </ul>
                </li>`, 
                "titlesDropdown")
            })
            document.getElementById("RemovePersonalTitle").addEventListener("click", ()=> {
                RemoveLastChildInDOM("titlesDropdown")
            })

            experienceIndex = 0
            document.getElementById("AddExperience").addEventListener("click", ()=> {
                experienceIndex++
                const expCopy = experienceIndex
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="companyName", id="companyName" size="30" required placeholder="Company name"></input></li>
                        <li><input type="text" name="title", id="title" size="50" required placeholder="Title"></input></li>
                        <li><input type="text" name="companyLocation", id="companyLocation" size="50" required placeholder="Location"></input></li>
                        <li><input type="date" name="jobStart", id="jobStart" size="50" required></input></li>
                        <li>
                            <input type="date" name="jobEnd", id="jobEnd" size="50" required></input>
                            <input type="checkbox" name="presentJob${expCopy}", id="presentJob${expCopy}" size="50"></input>
                            <label for="presentJob${expCopy}">Present</label>
                        </li>
                        <button type="button" id="AddDescription${expCopy}">+</button>
                        <button type="button" id="RemoveDescription${expCopy}">-</button>

                        <ul>
                            <div id = "descriptionDropdown${expCopy}"\>
                        </ul>
                    </ul>
                </li>
                `, "experienceDropdown")

                document.getElementById("AddDescription" + expCopy).addEventListener("click", ()=>{
                    AddHTMLToDOM(`
                        <li>
                            <input type="text" name="responsibility${expCopy}", id="responsibility${expCopy}" size="50" required placeholder="Responsibility"></input>
                        </li> 
                        `,"descriptionDropdown" + expCopy)
                })
                document.getElementById("RemoveDescription" + expCopy).addEventListener("click", ()=>{
                    RemoveLastChildInDOM("descriptionDropdown" + expCopy)
                })
            })
            document.getElementById("RemoveExperience").addEventListener("click", ()=>{
                RemoveLastChildInDOM("experienceDropdown")
                experienceIndex--
            })

            projectIndex = 0
            document.getElementById("AddProject").addEventListener("click", ()=>{
                projectIndex++
                const projCpy = projectIndex

                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="projectName", id="projectName" size="50" required placeholder="Name"></input></li>
                        <li><input type="date" name="projectStart", id="projectStart" size="50" required></input></li>
                        <li>
                            <input type="date" name="projectEnd", id="projectEnd" size="50" required></input>
                            <input type="checkbox" name="presentProject${projCpy}", id="presentProject${projCpy}" size="50"></input>
                            <label for="presentProject${projCpy}">Present</label>
                        </li>
                        <button type="button" id="AddProjectDescription${projCpy}">+</button>
                        <button type="button" id="RemoveProjectDescription${projCpy}">-</button>

                        <ul>
                            <div id = "projectDescriptionDropdown${projCpy}"\>
                        </ul>
                    </ul>
                </li>
                `, "projectsDropdown")

                document.getElementById("AddProjectDescription" + projCpy).addEventListener("click", ()=>{
                    AddHTMLToDOM(`
                        <li>
                            <input type="text" name="projectDescription${projCpy}", id="projectDescription${projCpy}" size="50" required placeholder="Description"></input>
                        </li> 
                        `,"projectDescriptionDropdown" + projCpy)
                })
                document.getElementById("RemoveProjectDescription" + projCpy).addEventListener("click", ()=>{
                    RemoveLastChildInDOM("projectDescriptionDropdown" + projCpy)
                })
            })
            document.getElementById("RemoveProject").addEventListener("click", ()=>{
                RemoveLastChildInDOM("projectsDropdown")
                projectIndex--
            })

            categoryIndex = 0
            document.getElementById("AddCategory").addEventListener("click", ()=>{
                categoryIndex++
                const categoryCpy = categoryIndex
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="categoryName", id="categoryName" size="50" required placeholder="Category Name"></input></li>
                        <button type="button" id="AddSkillToCategory${categoryCpy}">+</button>
                        <button type="button" id="RemoveSkillFromCategory${categoryCpy}">-</button>

                        <ul>
                            <div id = "categorySkillsDropdown${categoryCpy}"\>
                        </ul>
                    </ul>
                </li>`, 
                "categorizedSkillsDropdown")

                document.getElementById("AddSkillToCategory" + categoryCpy).addEventListener("click", ()=>{
                    AddHTMLToDOM(`
                        <li>
                            <input type="text" name="categorizedSkill${categoryCpy}", id="categorizedSkill${categoryCpy}" size="50" required placeholder="Skill"></input>
                        </li> 
                        `,"categorySkillsDropdown" + categoryCpy)
                })
                document.getElementById("RemoveSkillFromCategory" + categoryCpy).addEventListener("click", ()=>{
                    RemoveLastChildInDOM("categorySkillsDropdown" + categoryCpy)
                })
            })

            document.getElementById("RemoveCategory").addEventListener("click", ()=>{
                RemoveLastChildInDOM("categorizedSkillsDropdown")
                projectIndex--
            })

            document.getElementById("AddSkill").addEventListener("click", ()=>{
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="skill", id="skill" size="50" required placeholder="Skill"></input></li>
                    </ul>
                </li>`, 
                "skillsDropdown")
            })
            document.getElementById("RemoveSkill").addEventListener("click", ()=>{
                RemoveLastChildInDOM("skillsDropdown")
            })

            document.getElementById("AddAccomplishment").addEventListener("click", ()=>{
                AddHTMLToDOM(`
                <li>
                    <ul>
                        <li><input type="text" name="accomplishment", id="accomplishment" size="80" required placeholder="Accomplishment"></input></li>
                    </ul>
                </li>`, 
                "accomplishmentsDropdown")
            })
            document.getElementById("RemoveAccomplishment").addEventListener("click", ()=>{
                RemoveLastChildInDOM("accomplishmentsDropdown")
            })

            LoadStoredProfileData()

            document.getElementById("profileForm").addEventListener("submit", (e)=>{
                e.preventDefault()

                jsonString = '{'
                formData = new FormData(document.getElementById("profileForm"))
                jsonString += `"name": "${formData.get("name")}", `
                jsonString += `"email": "${formData.get("email")}", `
                jsonString += '"education": ['

                const institutionNames = formData.getAll("institutionName")
                const degrees = formData.getAll("degree")

                for(i = 0; i < institutionNames.length; i++){
                    jsonString += `{"institutionName": "${institutionNames[i]}", "degree": "${degrees[i]}"}`
                    if(i != institutionNames.length - 1)
                        jsonString += ', '
                }

                jsonString += '], '
                jsonString += `"website": "${formData.get("website")}", `
                jsonString += '"workExperience": ['

                const companyNames = formData.getAll("companyName")
                const titles = formData.getAll("title")
                for(i = 0; i < companyNames.length; i++){
                    jsonString += `{"companyName": "${companyNames[i]}", "title": "${titles[i]}", "descriptions": [`

                    const descriptions = formData.getAll(`responsibility${i + 1}`)
                    for(v = 0; v < descriptions.length; v++){
                        jsonString += `"${descriptions[v]}"`
                        if(v != descriptions.length - 1)
                            jsonString += ', '
                    }

                    jsonString += ']}'

                    if(i != companyNames.length - 1)
                        jsonString += ', '
                }

                jsonString += '], '
                jsonString += '"projects": ['

                const projectNames = formData.getAll("projectName")
                for(i = 0; i < projectNames.length; i++){
                    jsonString += `{"projectName": "${projectNames[i]}", "projectDescriptions": [`

                    const projectDescriptions = formData.getAll(`projectDescription${i + 1}`)
                    for(v = 0; v < projectDescriptions.length; v++){
                        jsonString += `"${projectDescriptions[v]}"`
                        if(v != projectDescriptions.length - 1)
                            jsonString += ', '
                    }

                    jsonString += ']}'
                    if(i != projectNames.length - 1)
                        jsonString += ', '
                }

                jsonString += '], '

                const skills = formData.getAll("skill")
                jsonString += '"skills": ['
                for(i = 0; i < skills.length; i++){
                    jsonString += `"${skills[i]}"`
                    if(i != skills.length - 1)
                        jsonString += ', '
                }
                jsonString += '], '

                const accomplishments = formData.getAll("accomplishment")
                jsonString += '"accomplishments": ['
                for(i = 0; i < accomplishments.length; i++){
                    jsonString += `"${accomplishments[i]}"`
                    if(i != accomplishments.length - 1)
                        jsonString += ', '
                }
                jsonString += ']}'

                localStorage.setItem("profile", jsonString)
                window.location.href = "/ceProfile"
            })
        </script>
    </body>
</html>