<!DOCTYPE html>
<html>

<head>
    <title>Resume Personalizer | Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
     <div class="stickyElement"> 
        <div class="navbarPanel">
            <button class="medButton" id="HomePage">
                <img class="smallButtonImage" src="{{url_for('static', filename='images/Home.svg')}}">
                Home
            </button>
            <button class="medButton" id="ProfilePage">
                <img class="smallButtonImage" src="{{url_for('static', filename='images/Profile.svg')}}">
                Profiles
            </button>
        </div>
        <script>
            document.getElementById("ProfilePage").addEventListener("click", () => {
                location.href = "/profiles"
            })
            document.getElementById("HomePage").addEventListener("click", () => {
                location.href = "/"
            })
        </script>
    </div>
    <div class="mainText">Profile</div>
    <form id="profileForm">
        <div class="centerAlignedRow">
            <div class="profileFieldLabel">Profile Name</div>
            <input class="profileTextField" type="text" id="profileName" name="profileName" required>
        </div>
        <div class="profileRow">
            Header
            <img class="largeImage" src="{{url_for('static', filename='images/Profile.svg')}}">
        </div>
        <div class="profilePanel medTopSpacing medBottomSpacing">
            <div class="flexHorizontal medGap centered">
                <div class="grid">
                    <div class="profileFieldGroup">
                        <label class="profileFieldLabel medMarginBottom" for="name">Full Name</label>
                        <input class="profileTextField" type="text" id="name" name="name">
                    </div>
                    <div class="profileFieldGroup">
                        <label class="profileFieldLabel medMarginBottom" for="email">Email</label>
                        <input class="profileTextField" type="text" id="email" name="email">
                    </div>
                    <div class="profileFieldGroup doubleWide medMaxWidth">
                        <div class="rowAlignCentered">
                            <div class="profileFieldLabel medMarginBottom">Job Titles</div>
                        </div>
                        <div class="profileDropdown" id="titlesDropdown"></div>
                        <div class="line"></div>
                        <div class="rowAlignCentered">
                            <button class="smallButton greyBackground" type="button" id="AddPersonalTitle">Add New <div>+
                                </div></button>
                        </div>
                    </div>
                    <div class="profileFieldGroup websiteGridField">
                        <label class="profileFieldLabel medMarginBottom" for="website">Website</label>
                        <input class="profileTextField" type="text" id="website" name="website">
                    </div>
                </div>
            </div>
        </div>
        <div class="profileRow">
            Education
            <img class="largeImage" src="{{url_for('static', filename='images/Education.svg')}}">
        </div>
        <div id="educationDropdown" class="maxWidth"></div>
        <div class="rowAlignCentered topSpacing bottomSpacing">
            <button class="button largeFont" type="button" id="AddEducation">Add Education <div>+</div></button>
        </div>
        <div class="profileRow">
            Experience
            <img class="largeImage" src="{{url_for('static', filename='images/WorkExperience.svg')}}">
        </div>
        <div id="experienceDropdown"  class="maxWidth"></div>
        <div class="rowAlignCentered topSpacing bottomSpacing">
            <button class="button largeFont" type="button" id="AddExperience">Add Experience <div>+</div></button>
        </div>
        <div class="profileRow">
            Projects
            <img class="largeImage" src="{{url_for('static', filename='images/Projects.svg')}}">
        </div>
        <div id="projectsDropdown"></div>
        <div class="rowAlignCentered topSpacing bottomSpacing">
            <button class="button largeFont" type="button" id="AddProject">Add Project <div>+</div></button>
        </div>
        <div class="profileRow">
            Skills & Accomplishments
            <img class="largeImage" src="{{url_for('static', filename='images/SkillsAndAccomplishments.svg')}}">
        </div> 
        <div class="profilePanel medTopSpacing medBottomSpacing XLLeftPadding XLRightPadding">
            <div class="flexHorizontal medGap centered">
                <div class="profileFieldGroup">
                    <div class="rowAlignCentered">
                        <div class="profileFieldLabel medMarginBottom">Unclassified Skills</div>
                    </div>
                    <div class="profileDropdown" id="unclassifiedSkillsDropdown"></div>
                    <div class="line"></div>
                    <div class="rowAlignCentered">
                        <button class="smallerButton greyBackground" type="button" id="AddUnclassifiedSkill">
                            Add New <div>+</div></button>
                    </div>
                </div>
                <div class="profileFieldGroup">
                    <div class="rowAlignCentered">
                        <div class="profileFieldLabel medMarginBottom">Accomplishments</div>
                    </div>
                    <div class="profileDropdown" id="accomplishmentsDropdown"></div>
                    <div class="line"></div>
                    <div class="rowAlignCentered">
                        <button class="smallerButton greyBackground" type="button" id="AddAccomplishment">Add New <div>+
                            </div></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="categorizedSkillsDropdown"></div>
        <div class="rowAlignCentered topSpacing bottomSpacing">
            <button class="button largeFont" type="button" id="AddCategorizedSkill">Add Category<div>+</div></button>
        </div>
        <div class="rowAlignCentered lgTopSpacing medBottomSpacing">
            <button class="button XXLFont" type="submit" id="Submit">
                Submit
                <img class="largeImage" src="{{url_for('static', filename='images/Submit.svg')}}">
            </button>
        </div>
    </form>
    <script>
        const REMOVE_IMG_SOURCE = "{{url_for('static', filename='images/Remove.svg')}}"
    </script>
    <script src="{{url_for('static', filename='handleProfileUpdate.js')}}"></script>
    <script src="{{url_for('static', filename='saveFormData.js')}}"></script>
    <script src="{{url_for('static', filename='loadStoredProfile.js')}}"></script>
</body>
</html>