<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <title>Resume Personalizer | Profiles</title>
</head>

<body>
    <div class="stickyElement">
        <div class="navbarPanel">
            <button class="navButton" id="ProfilePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Profile.svg')}}">
                Profiles
            </button>
            <button class="navButton" id="HomePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Home.svg')}}">
                Home
            </button>
            <button class="navButton" id="ResumePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Resumes.svg')}}">
                Resumes
            </button>
        </div>
        <script>
            document.getElementById("ProfilePage").classList.add("navbarActive")
            document.getElementById("ProfilePage").addEventListener("click", ()=>{
                location.href = "/profiles"
            })
            document.getElementById("ResumePage").addEventListener("click", ()=>{
                location.href = "/resumes"
            })
            document.getElementById("HomePage").addEventListener("click", () => {
                location.href = "/"
            })
        </script>
    </div>
    <div class="sectionHeader">Created Profiles</div>
    <div class="subTitle">Add new or edit profiles here</div>
    <div class="listContainer">
        <div class="holder hidden" id="noProfiles">
            <div class="majorText">No Profiles created yet!</div>
            <div class="subTitle">Create a profile to generate a resume!</div>
            <div class="buttonHolder">
                <button class="listButton" id="CreateNewResume">
                    Create new Profile
                    <img class="buttonImage" src="{{url_for('static', filename='images/NewProfile.svg')}}" \>
                </button>
                <button class="listButton" id="ImportProfile">
                    Import from LinkedIn
                    <img class="buttonImage" , src="{{url_for('static', filename='images/LinkedIn.svg')}}">
                </button>
            </div>
            <div id="profilesDropdown"></div>
        </div>
    </div>
    <div id="profilesFound" class="visible buttonHolder medBottomSpacing">
        <button class="button">
            Create new Profile
            <img class="buttonImage" src="{{url_for('static', filename='images/NewProfile.svg')}}" \>
        </button>
        <button class="button">
            Import from LinkedIn
            <img class="buttonImage" , src="{{url_for('static', filename='images/LinkedIn.svg')}}">
        </button>
    </div>
</body>
<script>
    document.getElementById("CreateNewResume").addEventListener("click", ()=>{
        location.href = "/profile"
    })
</script>

</html>