<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
    <link rejl="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <title>Resume Personalizer | Profiles</title>
</head>

<body>
    <div class="st-t w-100">
        <div class="pL-a pR-a aIRC bg-dg d-f">
            <button class="btn mr-1em" id="HomePage">
                <img class="w-2-5em" src="{{url_for('static', filename='images/Home.svg')}}">
                Home
            </button>
            <button class="btn" id="ProfilePage">
                <img class="w-2-5em" src="{{url_for('static', filename='images/Profile.svg')}}">
                Profiles
            </button>
        </div>
        <script>
            document.getElementById("ProfilePage").addEventListener("click", () => {
                location.href = "/profiles"
            })
            document.getElementById("HomePage").addEventListener("click", () => {
                location.href = "/"
            })
        </script>
    </div>
    <div class="aIRC aICC bB h-100 d-f">
        <div class="aICC aIRC d-h bg-tb w-100vw h-100vh p-f" id="hiddenOverlayConfirm">
            <div class="w-100 h-100 p-abs bBl-5px" id="blurOverlayConfirm"></div>
            <div class="profileSelection" id="deleteProfileContents">
                <div class="t-L aIRC mt-1em t-cen"> Delete Profile?</div>
                <div class="t-XS aIRC d-f" id="deleteText">Attempted to delete :  </div>
                <div class="t-XS aIRC mt-1em d-f"> This action cannot be undone! </div>
                <div class="aIRC mt-2em d-f">
                    <button class="btn mr-1em" id="Confirm">
                        Confirm
                        <img class="w-2-5em" src="{{url_for('static', filename='images/Submit.svg')}}">
                    </button>
                    <button class="btn" id="Cancel">
                        Cancel
                        <img class="w-2-5em" src="{{url_for('static', filename='images/Close.svg')}}">
                </button>
                </div>
            </div>
        </div>
        <div class="t-XL aICC mt-1em d-f">Created Profiles</div>
        <div class="t-XS aICC d-f">Add new or edit profiles here</div>
        <div class="pA-2em mt-2em w-80p mR-a mL-a aICC bg-lg bor-sm mW-800px minH-300px">
            <div id="noProfiles">
                <div class="t-S bAICC">No Profiles created yet!</div>
                <div class="t-XS bAICC">Create a profile to generate a resume!</div>
                <div class="aIRC mt-2em">
                    <button class="btn" id="CreateProfileUpper">
                        Create new Profile
                        <img class="w-2-5em" src="{{url_for('static', filename='images/NewProfile.svg')}}" \>
                    </button>
                    <button class="btn" id="ImportProfileUpper">
                        Import from LinkedIn
                        <img class="w-2-5em" , src="{{url_for('static', filename='images/LinkedIn.svg')}}">
                    </button>
                </div>
            </div>
            <div class="w-100 lCG-1em d-f" id="profilesDropdown">
            </div>
        </div>
        <div id="profilesFound" class="aIRC mt-1em">
            <button class="btn mr-1em" id="CreateProfileLower">
                Create new Profile
                <img class="w-2-5em" src="{{url_for('static', filename='images/NewProfile.svg')}}" \>
            </button>
            <button class="btn" id="ImportProfileLower">
                Import from LinkedIn
                <img class="w-2-5em" , src="{{url_for('static', filename='images/LinkedIn.svg')}}">
            </button>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='loadProfileList.js')}}"></script>
<script>
    document.getElementById("CreateProfileUpper").addEventListener("click", () => {
        location.href = "/profile"
    })
    document.getElementById("CreateProfileLower").addEventListener("click", () => {
        location.href = "/profile"
    })
</script>

</html>