<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='website.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <title>Resume Personalizer | Resumes</title>
</head>

<body>
    <div class="stickyElement">
        <div class="navbarPanel">
            <button class="navButton" id="ProfilePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Profile.svg')}}">
                Profiles
            </button>
            <button class="navButton" id="HomePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Home.svg')}}">
                Home
            </button>
            <button class="navButton" id="ResumePage">
                <img class="navButtonImage" src="{{url_for('static', filename='images/Resumes.svg')}}">
                Resumes
            </button>
        </div>
        <script>
            document.getElementById("ResumePage").classList.add("navbarActive")
            document.getElementById("ProfilePage").addEventListener("click", ()=>{
                location.href = "/profiles"
            })
            document.getElementById("ResumePage").addEventListener("click", ()=>{
                location.href = "/resumes"
            })
            document.getElementById("HomePage").addEventListener("click", () => {
                location.href = "/"
            })
        </script>
    </div>
    <div class="sectionHeader">Created Resumes</div>
    <div class="subTitle">Download generated resumes here</div>
    <div class="listContainer">
        <div class="holder">
            <div class="majorText">No Resumes created yet!</div>
            <div class="subTitle">Create a resume and start applying to jobs</div>
        </div>
    </div>
</body>
</html>